/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
a {
  text-decoration: none; }

html {
  background: url(/img/summer.jpg) no-repeat center center fixed; }

.mainContainer {
  font-family: Roboto;
  font-size: 1.5rem; }

.nav-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 6em;
  left: 1em; }

.nav-container a {
  color: #F7F1DB;
  margin: 0.3em 0.3em 0.3em 0.3em;
  background: rgba(0, 0, 0, 0.7); }

.nav-container a:hover {
  background-color: #Ea2306; }

.mainHeader .vaquitaName {
  font-size: 2.5rem;
  font-family: Indie FLower; }

.vaquitaName {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8e918b; }
  .vaquitaName img {
    width: 49%; }
  .vaquitaName h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    font-size: 1em;
    color: #192223; }

nav.circle-menu {
  position: fixed;
  top: 7em;
  right: 4em;
  border-radius: 50%;
  background-color: black;
  width: 4em;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center; }
  nav.circle-menu p {
    color: #F7F1DB; }
  nav.circle-menu .menu-home {
    display: none; }

nav.circle-menu:hover {
  width: 6em;
  height: 6em;
  top: 6.5em;
  right: 3.5em;
  background-color: #ea2306; }
  nav.circle-menu:hover p {
    display: none; }
  nav.circle-menu:hover .menu-home {
    display: flex;
    flex-direction: column; }
    nav.circle-menu:hover .menu-home a {
      color: #F7F1DB; }

/* Dropdown Content (Hidden by Default) */
.dropdownMenu {
  display: none; }

/* Links inside the dropdown */
.show a {
  display: block; }

/* Show the dropdown menu */
.show {
  display: block;
  position: absolute;
  width: 11%;
  top: 100px;
  right: 34px;
  border-radius: 0 0 10px 10px;
  padding-left: 23px; }

.img-container-home {
  display: flex;
  width: 100vw;
  flex-direction: row;
  flex-wrap: wrap; }

div.left-top-4 {
  width: 55%;
  font-size: 0; }

.left-top-4 > img.fotosquare {
  width: 50%;
  height: 50%; }

div.right-top-1 {
  width: 45%; }

img.foto3 {
  width: 100%;
  height: 100%; }

div.bottom-2 {
  width: 100%;
  font-size: 0; }

img.foto6 {
  width: 60%;
  height: 100%; }

img.foto7 {
  width: 40%;
  height: 100%; }

.locations-container {
  display: flex;
  margin-top: 4em;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column; }

div.restaurante, div.taqueria {
  width: 80%;
  border-radius: 1em;
  margin-left: 10%;
  margin-right: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #7f9873; }

div.foto-address-location {
  display: flex;
  flex-direction: row; }

img.foto-location {
  width: 30%;
  height: 30%; }

img.foto-location2 {
  width: 30%;
  height: 5em; }

img.foto-location, address.address-location {
  margin-left: 0.5em;
  margin-bottom: 0.5em; }

address.address-location {
  width: 70%; }

iframe {
  margin-bottom: 0.5em; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
