/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
a {
  text-decoration: none; }

html {
  background: url(/img/greywood.jpg) no-repeat center center fixed; }

.mainContainer {
  font-family: Roboto;
  font-size: 1.5rem; }

.nav-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 6em;
  left: 1em; }

.nav-container a {
  color: #F7F1DB;
  margin: 0.3em 0.3em 0.3em 0.3em;
  background: black;
  padding-right: 1em;
  padding-left: 0.2em; }

.nav-container a:hover {
  background-color: #EA2306; }

.shrink {
  margin: -20px 0; }

.shrink-image {
  height: 60px;
  padding-top: 0.5em; }

.shrink-title {
  font-size: 1.3em;
  padding-top: 0.5em; }

.vaquitaName {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  z-index: 9999;
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: black;
  width: 100%;
  max-height: 2.5em;
  font-family: Indie FLower; }
  .vaquitaName img {
    width: 49%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    z-index: 9999;
    top: 0; }
  .vaquitaName h2 {
    display: flex;
    justify-content: center;
    width: 25%;
    color: #F7F1DB;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    z-index: 9999;
    top: 0; }
  .vaquitaName .fa-bars {
    font-size: 0; }

nav.circle-menu {
  position: fixed;
  top: 7em;
  right: 4em;
  border-radius: 50%;
  background-color: black;
  width: 4em;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s; }
  nav.circle-menu p {
    color: #F7F1DB;
    margin-left: 0.2em; }
  nav.circle-menu .menu-home a {
    font-size: 0; }

nav.circle-menu:hover {
  width: 6em;
  height: 6em;
  top: 6.5em;
  right: 3.5em;
  background-color: #EA2306; }
  nav.circle-menu:hover p {
    display: none; }
  nav.circle-menu:hover .menu-home {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center; }
    nav.circle-menu:hover .menu-home a {
      color: #F7F1DB;
      font-size: 1em; }
    nav.circle-menu:hover .menu-home a:first-child {
      border-bottom: 0.1em solid #F7F1DB; }

/* Dropdown Content (Hidden by Default) */
.dropdownMenu {
  display: none; }

/* Links inside the dropdown */
/* Show the dropdown menu */
.show {
  display: block;
  padding-left: 13px; }
  .show a {
    font-size: 0.9em;
    padding-right: 0em;
    padding-left: 0.1em;
    display: block; }

@media (max-width: 767px) {
  .vaquitaName {
    justify-content: space-around; }
    .vaquitaName h2.regular {
      display: none; }
    .vaquitaName .fa-bars {
      font-size: 1em;
      color: #F7F1DB; }
  .nav-container {
    display: none; }
  .showing {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 3em;
    left: 0.1em; }
    .showing a {
      color: #F7F1DB;
      margin: 0.3em 0.3em 0.3em 0.3em;
      background: black;
      padding-right: 1em;
      padding-left: 0.2em; }
  nav.circle-menu {
    display: none; } }

.img-container-home {
  display: flex;
  width: 100vw;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3em; }

.all-right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 55%; }

div.right-top-2 {
  width: 100%;
  font-size: 0;
  height: 50%; }

.right-top-2 > img.fotosquare {
  width: 50%;
  height: 100%; }

div.left-top-1 {
  width: 45%; }

img.foto3 {
  width: 100%;
  height: 100%; }

div.bottom-2 {
  width: 100%;
  font-size: 0; }

img.foto6 {
  width: 60%;
  height: 100%; }

img.foto7 {
  width: 40%;
  height: 100%; }

div.text-nyt {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 50%;
  font-size: 0.8em; }
  div.text-nyt .black-border {
    background: url(/img/greywood.jpg) no-repeat center center fixed;
    height: 87.4%;
    width: 95%;
    margin: 2.8% 2.5% 2.5% 2.5%; }
  div.text-nyt p {
    color: #444444;
    width: 96%;
    font-size: 1em;
    padding: 7% 0 0 3%; }

img.NYT-logo {
  width: 8em;
  padding-left: 3%; }

.locations-container {
  display: flex;
  margin-top: 4em;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column; }

div.restaurante, div.taqueria {
  width: 70%;
  border-radius: 1em;
  margin-left: 14%;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #444444; }

p.name-location {
  font-size: 1.5em;
  font-family: Indie FLower; }

div.foto-address-location {
  display: flex;
  flex-direction: row;
  width: 95%; }

address.address-location {
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  width: 70%; }

iframe {
  margin-bottom: 0.5em; }

.container-menurest {
  margin-top: 3em;
  display: flex;
  flex-direction: row; }

.fotos-menu-rest {
  width: 30%;
  line-height: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  .fotos-menu-rest .fotos-rest {
    width: 100%; }

.inside-fotorest1 h3, .inside-fotorest2 h3, .inside-fotorest3 h3, .inside-fotorest4 h3 {
  position: absolute;
  font-size: 0rem;
  color: #F7F1DB;
  margin-top: 92%;
  margin-left: 75%; }

.inside-fotorest1 .contenth3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%; }

.inside-fotorest2 .contenth3 {
  position: absolute;
  top: 80%;
  left: 0;
  width: 30%; }

.inside-fotorest3 .contenth3 {
  position: absolute;
  top: 100%;
  left: 0;
  width: 30%; }

.inside-fotorest4 .contenth3 {
  position: absolute;
  top: 150%;
  left: 0;
  width: 30%; }

.inside-fotorest1:hover h3, .inside-fotorest2:hover h3, .inside-fotorest3:hover h3, .inside-fotorest4:hover h3 {
  font-size: 1rem; }

.menu-restaurant {
  width: 70%; }

.restaurant-show {
  width: 80%;
  font-size: 3em;
  margin-left: 3em;
  margin-top: 3em; }

.container-taqueria {
  margin-top: 5em;
  display: flex;
  flex-direction: column; }

.phone-number-taqueria {
  display: flex;
  width: 20%;
  position: fixed;
  right: 0;
  bottom: 0;
  color: #EA2306;
  margin-bottom: 5%; }
  .phone-number-taqueria .fa-phone-square {
    font-size: 1em;
    margin-top: 3px;
    margin-right: 5px; }
  .phone-number-taqueria h4 {
    margin: 0; }

.address-taqueria {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .address-taqueria h4 {
    margin: 0; }
  .address-taqueria p {
    margin: 0; }
  .address-taqueria .name-taqueria {
    font-family: Indie FLower; }

.fotos-taqueria {
  margin-left: 5%;
  margin-top: 1em; }

.fotos-taqueria:hover .foto-text, .fotos-taqueria-2:hover .foto-text {
  opacity: 1; }

.fotos-taqueria-2 {
  margin-left: 60%;
  margin-top: 3em; }

.fotos-taqueria, .fotos-taqueria-2 {
  color: #F7F1DB; }
  .fotos-taqueria .foto-text, .fotos-taqueria-2 .foto-text {
    padding-left: 67%;
    padding-top: 61%;
    opacity: 0;
    transition: all 0.4s; }

.menu-taqueria {
  width: 80%;
  font-size: 3em;
  margin-left: 5em;
  margin-top: 3em; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
