$lightgreen:#8dba92;
$darkgreen: #7f9873;
$headerfont: #F7F1DB;
$mainpagebackg: #F5E1CC;


html {
  background: url(/img/summer.jpg) no-repeat center center fixed;
}

.mainContainer {
  font-family: Roboto;
  font-size: 1.5rem;
}


.backgroundHeader{
  position: absolute;
  width: 100%;
  background: rgba(127,152,115,0.4);

}
.headerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  margin-top: 0.5rem;

}
.headerContent a {
  color: $headerfont;

}
.mainHeader .vaquitaName {
  font-size: 2.5rem;
  font-family: Indie FLower;
}

.rightSide, .leftSide {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 35%;
}


.leftSide a {
  margin-left:2rem;
}
.rightSide a {
  margin-right: 2rem;
}
.vaquitaName {
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}


/* Dropdown Content (Hidden by Default) */
.dropdownMenu {
    display: none;
}

/* Links inside the dropdown */
.show a {
    display: block;
}

/* Show the dropdown menu */
.show {
  display:block;
  position: absolute;
  width: 11%;
  top: 100px;
  right: 34px;
  border-radius: 0 0 10px 10px;
  padding-left: 23px;

}
