$lightgreen:#8dba92;
$darkgreen: #7f9873;
$headerfont: #F7F1DB;
$mainpagebackg: #F5E1CC;
$redbackg: #EA2306;
$almostblack: #444444;
$overfood: #F25426;


html {
  background: url(/img/greywood.jpg) no-repeat center center fixed;
}

.mainContainer {
  font-family: Roboto;
  font-size: 1.5rem;
}

.headerContent {
  z-index: 3;
  position: relative;
}

.nav-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 6em;
  left: 1em;

}
.nav-container a {
  color: $headerfont;
  margin: 0.3em 0.3em 0.3em 0.3em;
  background: rgba(0,0,0,1);
  padding-right: 1em;
  padding-left: 0.2em;

}


.nav-container a:hover {
  background-color: $redbackg;
}


.shrink {
  margin: -20px 0;
}

.shrink-image {
  height: 60px;
  padding-top: 0.5em;
}
.shrink-title {
  font-size: 1.3em;
  padding-top: 0.5em;
}

.vaquitaName {
  //transition to shrinking
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  z-index: 9999;
  top: 0;
  position: fixed;


  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: black;
  width: 100vw;
  max-height: 2.5em;
  font-family: Indie FLower;
  img {
    width: 49%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    z-index: 9999;
    top: 0;
  }
  h2 {
    display: flex;
    justify-content: center;
    width: 25%;
    color: $headerfont;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    z-index: 9999;
    top: 0;
  }
  .fa-bars {
    // display: none;
    font-size: 0;
  }
}

nav.circle-menu {
  position: fixed;
  top: 7em;
  right: 4em;
  border-radius: 50%;
  background-color: black;
  width: 4em;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;

  p {
    color: $headerfont;
    margin-left: 0.2em;
  }
  .menu-home {
    a {
      font-size: 0;
    }
  }
}
nav.circle-menu:hover {
  width: 6em;
  height: 6em;
  top: 6.5em;
  right: 3.5em;
  background-color: $redbackg;

  p{
    display: none;
  }
  .menu-home {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    a{
      color: $headerfont;
      font-size: 1em;
    }
    a:first-child {
      border-bottom: 0.1em solid $headerfont;
    }

  }
}


/* Dropdown Content (Hidden by Default) */
.dropdownMenu {
    display: none;
}

/* Links inside the dropdown */
.show a {

}

/* Show the dropdown menu */
.show {
  display:block;
  padding-left: 13px;
  a {
    font-size: 0.9em;
    padding-right: 0em;
    padding-left: 0.1em;
    display: block;
  }
}



//MOBILE

@media (max-width: 767px) {

  .vaquitaName {
    justify-content: space-around;

    h2.regular {
      display: none;
    }
    .fa-bars {
      font-size: 1em;
      color: $headerfont;
      //display: block;
    }
  }
  .nav-container {
    display: none;
  }
  .showing {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 4em;
    left: 0.1em;
    a {
      color: $headerfont;
      margin: 0.3em 0.3em 0.3em 0.3em;
      background: rgba(0,0,0,1);
      padding-right: 1em;
      padding-left: 0.2em;

    }
  }
  nav.circle-menu {
    display: none;
  }

  .shrink-image {
    height: 46px;
  }
  .vaquitaName {
    img {
      height: 46px;
    }
  }
}
