$lightgreen:#8dba92;
$darkgreen: #7f9873;
$headerfont: #F7F1DB;
$mainpagebackg: #F5E1CC;


html {
  background: url(/img/summer.jpg) no-repeat center center fixed;
}

.mainContainer {
  font-family: Roboto;
  font-size: 1.5rem;
}


.backgroundHeader{


}
.nav-container {
  display: flex;
  flex-direction: column;
  //justify-content: flex-start;
  //align-items: flex-start;
  //height: 5rem;
  //margin-top: 0.5rem;
  position: fixed;
  top: 6em;
  left: 1em;
  //width: 15%;

}
.nav-container a {
  color: $headerfont;
  margin: 0.3em 0.3em 0.3em 0.3em;
  //background: rgba(142,145,139,0.7);
  background: rgba(0,0,0,0.7);

}


.nav-container a:hover {
  background-color: #Ea2306;
}
.mainHeader .vaquitaName {
  font-size: 2.5rem;
  font-family: Indie FLower;
}




.vaquitaName {
  // border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8e918b;
  // width: 20%;
  img {
    width: 49%;
  }
  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    font-size: 1em;
    color: #192223;;


  }
}

nav.circle-menu {
  position: fixed;
  top: 7em;
  right: 4em;
  border-radius: 50%;
  background-color: black;
  width: 4em;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    color: $headerfont;
  }
  .menu-home {
    display: none;
  }
}
nav.circle-menu:hover {
  width: 6em;
  height: 6em;
  top: 6.5em;
  right: 3.5em;
  background-color: #ea2306;
  p{
    display: none;
  }
  .menu-home {
    display: flex;
    flex-direction: column;
    a{
      color: $headerfont;
    }

  }
}


/* Dropdown Content (Hidden by Default) */
.dropdownMenu {
    display: none;
}

/* Links inside the dropdown */
.show a {
    display: block;
}

/* Show the dropdown menu */
.show {
  display:block;
  position: absolute;
  width: 11%;
  top: 100px;
  right: 34px;
  border-radius: 0 0 10px 10px;
  padding-left: 23px;

}
