.img-container-home {
  display: flex;
  width: 100vw;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3em;
}
.all-right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 55%
}
div.right-top-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 0;
  height: 50%;

}
.right-top-2 > .fotosquare {
  width: 50%;
  height: 100%;
}
.foto1, .foto2 {
  width: 100%;
  height: 100%;
}
div.left-top-1 {
  width: 45%;
}
img.foto3 {
  width: 100%;
  height: 100%;
}

div.bottom-2 {
  width: 100%;
  font-size: 0;
  height: 100%;
}
img.foto6 {
  width: 58.34%;
}
img.foto7 {
  width: 41.66%;
}


div.text-nyt {
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 50%;
  font-size: 0.8em;
  //padding: 1% 0.5em 1% 0.5em;
  //background-color: red;
  .black-border {
    background: url(/img/greywood.jpg) no-repeat center center fixed;
    height: 87.4%;
    width: 95%;
    margin: 2.8% 2.5% 2.5% 2.5%;
  }
  p {
    color: $almostblack;
    width: 96%;
    font-size: 1em;
    padding: 7% 0 0 3%;

  }
}
img.NYT-logo {
  width: 8em;
  padding-left: 3%;
}


@media (max-width: 767px) {
  div.left-top-1 {
    width: 100%;
    font-size: 0;
  }

  .img-container-home {

    flex-direction: column;
  }

  .all-right {
    width: 100%;
  }

}
