


.locations-container{
  display: flex;
  margin-top: 4em;
  width: 100vw;
  justify-content: center;
  align-items: flex-start;;
  flex-direction: column;;
}

div.restaurante, div.taqueria{
  width: 70%;
  //border-radius: 1em;
  margin-left: 14%;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $almostblack;
}
p.name-location {
  font-size: 1.5em;
  font-family: Indie FLower;
  font-weight: bolder;
}

div.foto-address-location {
  display: flex;
  flex-direction: row;
  width: 95%;
}


address.address-location {
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  width: 70%;
}

iframe {
  margin-bottom: 0.5em;
  width: 80%;
  height: 250px;
  border: 0.2em solid #444442;
}

@media (max-width: 767px) {


  .locations-container{
    // width: 100vw;
  }
  div.restaurante, div.taqueria{
    width: 100%;
    margin-left: 5%;
  }

  div.foto-address-location {
    flex-direction: column;
    width: 100%;
  }
  address.address-location {
    width: 95%;
  }
  iframe {
    width: 90%;
  }

}
