


.locations-container{
  //position: fixed;
  display: flex;
  //margin-top: 1em;
  width: 100%;
  justify-content: center;
  align-items: flex-start;;
  flex-direction: column;;
}

div.restaurante, div.taqueria{
  width: 80%;
  border-radius: 1em;
  margin-left: 10%;
  margin-right: 1%;
  margin-top: 3em;
  //border: thin solid $darkgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $darkgreen;
}
p.name-location {
  font-size: 1.5em;
  font-family: Indie FLower;
}

div.foto-address-location {
  display: flex;
  flex-direction: row;
  width: 95%;
}


address.address-location {
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  width: 70%;
}

iframe {
  margin-bottom: 0.5em;
}
