.container-taqueria {
  margin-top: 5em;
  display: flex;
  flex-direction: column;

}


.phone-number-taqueria {
  display: flex;
  flex-direction: row;
  width: 8em;
  position: fixed;
  right: 0;
  bottom: 0;
  color: $redbackg;
  margin-bottom: 5%;
  margin-right: 5%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  z-index: 2;
  .fa-phone-square {
    font-size: 1em;
    margin-top: 3px;
    margin-right: 5px;
    margin-left: 3px;
  }
  h4 {
    margin: 0;
  }
}


.address-taqueria {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  h4 {
    margin: 0;
  }
  p {
    margin: 0;
  }
  .name-taqueria {
    font-family: Indie FLower;
  }
}

.taqueria-part1, .taqueria-part2, .taqueria-part3 {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1em;
}

.taqueria-menu1 {
  width: 80%;
  font-size: 0.6em;
  margin-left: 1.5em;
  h3 {
    font-weight: bolder;
    margin-bottom: 0.2em;
  }
  p {
    margin-left: 0.4em;
    margin-top: 0;
    margin-bottom: 0.5em;
  }
}

.taqueria-menu2 {
  width: 80%;
  font-size: 0.6em;
  h3 {
    font-weight: bolder;
    margin-bottom: 0.2em;
  }
  p {
    margin-left: 0.4em;
    margin-top: 0;
    margin-bottom: 0.5em;
  }
}

.fotos-taqueria {
  margin-top: 1em;
}
.fotos-taqueria:hover, .fotos-taqueria-2:hover {
  .foto-text {
    opacity: 1;
  }
}

.fotos-taqueria, .fotos-taqueria-2 {
  color: $headerfont;
  .foto-text {
    padding-left: 60%;
    padding-top: 61%;
    opacity: 0;
    transition: all 0.4s;
  }
}

.menu-taqueria {
  width: 80%;
  font-size: 3em;
  margin-left: 5em;
  margin-top: 3em;
}
