
.container-menurest {
  margin-top: 3em;
}



.fotos-menu-rest {
  //width: 100%;

  //font-size: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .fotos-rest {
    //width: 100%;
    //max-height: 650px;
  }

}

.inside-fotorest div {
  position: absolute;
  top: 0;
  width: 100%;
	//left: 20px;
	//top: 20px;
	//right: 20px;
	//bottom: 20px;
	background: rgba(0,0,0,0.2);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
    align-items: center;
    text-align: center;
    opacity: 0;
  h3 {
    font-size: 1.4em;
  }
}


.inside-fotorest:hover div {
  opacity: 1;

}



.restaurant-show {
  width: 80%;
  font-size: 3em;
  margin-left: 5em;
  margin-top: 3em;

}
