
.container-specials {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;

}

.container-fotos-specials-1,
.container-fotos-specials-2,  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 0;
  //margin-left: 5%;
  //margin-right: 5%;
  width: 100vw;


}

.fotospecials1,
.fotospecials2,
.fotospecials3,
.fotospecials4,
.fotospecials5,
.fotospecials6,
.fotospecials7 {
  width: 40%;
  position: relative;
  z-index: 1;
    h3 {
      position: absolute;
      font-size: 0rem;
      color: $headerfont;
      margin-top: 92%;
      margin-left: 5%;
      transition: all 0.4s;
    }
  }



.fotospecials1:hover,
.fotospecials2:hover,
.fotospecials3:hover,
.fotospecials4:hover,
.fotospecials5:hover,
.fotospecials6:hover,
.fotospecials7:hover {
  h3 {
    font-size: 2rem;
  }
}

.special {
  width: 100%;
}
