

<section class="img-container-home">
  <div class="left-top-4">
    <img src="/img/enchilada.jpg" class="foto1 fotosquare"/>
    <img src="/img/guacamole 1.jpg" class="foto2 fotosquare"/>
    <img src="/img/guisado.jpg" class="foto4 fotosquare"/>
    <img src="/img/mex food 3.jpg" class="foto5 fotosquare"/>
  </div>
  <div class="right-top-1">
    <img src="/img/mex food 5.jpg" class="foto3"/>
  </div>

  <div class="bottom-2">
    <img src="/img/mex food 7.jpg" class="foto6"/>
    <img src="/img/rice.jpg" class="foto7"/>
  </div>


</section>
