

<section class="img-container-home">
  <div class="left-top-1">
    <img src="/img/mex food 5.jpg" class="foto3"/>
  </div>
  <div class="all-right">
      <div class="right-top-2">
        <img src="/img/otraenchilada.jpg" class="foto1 fotosquare"/>
        <img src="/img/enchilada1.jpg" class="foto2 fotosquare"/>
      </div>
      <div class="text-nyt">
        <div class="black-border">
        <p>
          "Tacos made with house-made corn tortillas,
          <br>uncommonly delicate discs topped with exceptional barbacoa de res (slow-cooked beef)
          or carnitas (braised-then-fried pork) that you eat at one of
          the picnic tables out front."
        </p>
        <a href="http://www.nytimes.com/2009/06/14/travel/14hours.html"><img class="NYT-logo" src="/img/TNYTV.png"/></a>
        </div>
      </div>
  </div>





  <div class="bottom-2">
    <img src="/img/mex food 7.jpg" class="foto6"/>
    <img src="/img/rice.jpg" class="foto7"/>
  </div>




</section>
