

<div class="img-container-home">
  <span class="left-top">
    <img src="/img/enchilada.jpg" class="foto1" />
    <img src="/img/guacamole 1.jpg" class="foto2" />
  </span>
  <span class="right-top">
    <img src="/img/mex food 5.jpg" class="foto3" />
  </span>
  <div class="level2">
    <img src="/img/guisado.jpg" class="foto4" />
    <img src="/img/mex food 3.jpg" class="foto5" />
  </div>
  <div class="left-bottom">
    <img src="/img/mex food 7.jpg" class="foto6" />
  </div>
  <div class="right-bottom">
    <img src="/img/rice.jpg" class="foto7" />
  </div>

</div>
