

<section class="locations-container">
  <div class="restaurante">
    <p class="name-location">
      Restaurant
    </p>
    <div class="foto-address-location">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6454.168254109133!2d-78.946618!3d36.018239!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89ace1493911f169%3A0x481448e8348d5aa!2s3409+Hillsborough+Rd%2C+Durham%2C+NC+27705!5e0!3m2!1sen!2sus!4v1476119487711" width="585" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      <address class="address-location">
          Kings Plaza Shopping Center,<br>
          3409 Hillsborough Rd # G, Durham,<br>
          NC 27705<br>
          919 383 8828<br>
          <br>
          Hours<br>
          Everyday 10:00AM to 9:30pm<br>
      </address>

    </div>
  </div>

  <div class="taqueria">
    <p class="name-location">
      Taqueria
    </p>
    <div class="foto-address-location">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3228.7765950564576!2d-78.93859414968925!3d35.97688698002889!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89ace684c3037d8f%3A0xeec5af72774e3887!2s2700+Chapel+Hill+Rd%2C+Durham%2C+NC+27707!5e0!3m2!1sen!2sus!4v1476120125042" width="585" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      <address class="address-location">
        2700 Chapel Hill Rd,<br>
        Durham, NC 27707<br>
        919 402 0209<br>
        <br>
        <br>
        Hours<br>
        Everyday 10:00AM to 9:30pm<br>
      </address>
  </div>
  </div>
</section>
