
<section class="container-menurest">
  <div class="phone-number-restaurant">
    <i class="fa fa-phone-square" aria-hidden="true"></i>
    <h4>919 555 9999</h4>
  </div>


    <section class="fotos-menu-rest">

      <div class="inside-fotorest1">
        <div class="contenth3"><h3>Guacamole</h3></div>
        <img src="/img/guacamole 1.jpg" class="f1 fotos-rest"/>
      </div>

      <div class="inside-fotorest2">
        <div class="contenth3"><h3>Fajitas</h3></div>
        <img src="/img/fajitas2.jpg" class="f2 fotos-rest"/>
      </div>
      <div class="inside-fotorest3">
        <div class="contenth3"><h3>Quesadillas</h3></div>
        <img src="/img/quesadillas 3.jpg" class="f3 fotos-rest"/>
      </div>
      <div class="inside-fotorest4">
        <div class="contenth3"><h3>Quesadillas</h3></div>
        <img src="/img/quesadillas 1.jpg" class="f4 fotos-rest"/>
      <div/>

      <!-- JUST FOR MOBILE VIEW -->
      <section class="just-for-mobile">

              <div class="inside-fotorest5">
                <div class="contenth3"><h3>Flan</h3></div>
                <img src="/img/flan.jpg" class="f5 fotos-rest"/>
              </div>
              <div class="inside-fotorest6">
                <div class="contenth3"><h3>Rollitos</h3></div>
                <img src="/img/Rollitos.jpg" class="f6 fotos-rest"/>
              </div>
              <div class="inside-fotorest7">
                <div class="contenth3"><h3>Fajitas</h3></div>
                <img src="/img/fajitas1.jpg" class="f7 fotos-rest"/>
              </div>
              <div class="inside-fotorest8">
                <div class="contenth3"><h3>Tacos</h3></div>
                <img src="/img/tacos3.jpg" class="f8 fotos-rest"/>
              </div>
              <div class="inside-fotorest1">
                <div class="contenth3"><h3>Guacamole</h3></div>
                <img src="/img/guacamole 1.jpg" class="f1 fotos-rest"/>
              </div>
              <div class="inside-fotorest2">
                <div class="contenth3"><h3>Fajitas</h3></div>
                <img src="/img/fajitas2.jpg" class="f2 fotos-rest"/>
              </div>
              <div class="inside-fotorest3">
                <div class="contenth3"><h3>Quesadillas</h3></div>
                <img src="/img/quesadillas 3.jpg" class="f3 fotos-rest"/>
              </div>
              <div class="inside-fotorest4">
                <div class="contenth3"><h3>Quesadillas</h3></div>
                <img src="/img/quesadillas 1.jpg" class="f4 fotos-rest"/>
              <div/>
              <div class="inside-fotorest5">
                <div class="contenth3"><h3>Flan</h3></div>
                <img src="/img/flan.jpg" class="f5 fotos-rest"/>
              </div>
              <div class="inside-fotorest6">
                <div class="contenth3"><h3>Rollitos</h3></div>
                <img src="/img/Rollitos.jpg" class="f6 fotos-rest"/>
              </div>
              <div class="inside-fotorest7">
                <div class="contenth3"><h3>Fajitas</h3></div>
                <img src="/img/fajitas1.jpg" class="f7 fotos-rest"/>
              </div>
              <div class="inside-fotorest8">
                <div class="contenth3"><h3>Tacos</h3></div>
                <img src="/img/tacos3.jpg" class="f8 fotos-rest"/>
              </div>
              <div class="inside-fotorest1">
                <div class="contenth3"><h3>Guacamole</h3></div>
                <img src="/img/guacamole 1.jpg" class="f1 fotos-rest"/>
              </div>
              <div class="inside-fotorest2">
                <div class="contenth3"><h3>Fajitas</h3></div>
                <img src="/img/fajitas2.jpg" class="f2 fotos-rest"/>
              </div>
              <div class="inside-fotorest3">
                <div class="contenth3"><h3>Quesadillas</h3></div>
                <img src="/img/quesadillas 3.jpg" class="f3 fotos-rest"/>
              </div>

      </section>


    </section>

    <section class="menu-restaurant">

      <div class="restaurant-show">

        <h3>Enchiladas Poblanas $6.49</h3>
        <p>
          Two Chicken or Cheese rolled corn Tortillas, rich mole poblano, onion, cheese, cream, rice and beans.
        </p>

        <h3>Enchiladas Rancheras $6.49</h3>
        <p>
          Two chicken or cheese rolled corn tortillas especial red salsa, cheese, cream, rice and beans.
        </p>

        <h3>Taco Salad $5.25</h3>
        <p>
          Crispy flour tortilla, topped with beans ant lettuce, tomatoes, cheese guacamole and sour cream.
        </p>

        <h3>EnchiladasVerdes $6.49</h3>
        <p>
          Two Chicken or Cheese rolled in corn Tortillas with green salsa, lettuce, tomatoes, onion, cheese sour cream, rice and beans.
        </p>

        <h3>Alambre Steak or Chicken $7.00</h3>
        <p>
          Grilled steak or chicken salted with onion, bell pepper, bacon and cheese.
        </p>

        <h3>Empanadas $7.49</h3>
        <p>
          Two half moon of masa, chicken or cheese, lettuce, Tomatoes, onion, cheese, Cream Rice and Beans.
        </p>

        <h3>Enchiladas de Espinaca $6.49</h3>
        <p>
          Two rolled corn tortillas, fresh spinach salted with onions, and cream cheese, rice and beans
        </p>

        <h3>Burrito Hawaiano $6.49</h3>
        <p>
          Flour tortilla filled with fried beans, rice, ham, pineapple, lettuce, onion, tomatoes cheese and sour cream.
        </p>

        <h3>Burrito Ahogado $6.49</h3>
        <p>
          Flour tortilla filled with fried beans, rice, chicken, lettuce, onions, tomatoes, cheese and sour cream.
        </p>
        <h3>Enchiladas Rancheras $6.49</h3>
        <p>
          Two chicken or cheese rolled corn tortillas especial red salsa, cheese, cream, rice and beans.
        </p>

        <h3>Taco Salad $5.25</h3>
        <p>
          Crispy flour tortilla, topped with beans ant lettuce, tomatoes, cheese guacamole and sour cream.
        </p>

        <h3>EnchiladasVerdes $6.49</h3>
        <p>
          Two Chicken or Cheese rolled in corn Tortillas with green salsa, lettuce, tomatoes, onion, cheese sour cream, rice and beans.
        </p>

        <h3>Alambre Steak or Chicken $7.00</h3>
        <p>
          Grilled steak or chicken salted with onion, bell pepper, bacon and cheese.
        </p>

        <h3>Empanadas $7.49</h3>
        <p>
          Two half moon of masa, chicken or cheese, lettuce, Tomatoes, onion, cheese, Cream Rice and Beans.
        </p>

        <h3>Enchiladas de Espinaca $6.49</h3>
        <p>
          Two rolled corn tortillas, fresh spinach salted with onions, and cream cheese, rice and beans
        </p>



      </div>
    </section>

    <section class="fotos-menu-rest no-for-mobile">

        <div class="inside-fotorest5">
          <div class="contenth3"><h3>Flan</h3></div>
          <img src="/img/flan.jpg" class="f5 fotos-rest"/>
        </div>

        <div class="inside-fotorest6">
          <div class="contenth3"><h3>Rollitos</h3></div>
          <img src="/img/Rollitos.jpg" class="f6 fotos-rest"/>
        </div>

        <div class="inside-fotorest7">
          <div class="contenth3"><h3>Fajitas</h3></div>
          <img src="/img/fajitas1.jpg" class="f7 fotos-rest"/>
        </div>

        <div class="inside-fotorest8">
          <div class="contenth3"><h3>Tacos</h3></div>
          <img src="/img/tacos3.jpg" class="f8 fotos-rest"/>
        </div>

    </section>

</section>
