<section class="container-taqueria">
  <div class="phone-number-taqueria">
    <i class="fa fa-phone-square" aria-hidden="true"></i>
    <h4>919 402 0209</h4>
  </div>

  <div class="address-taqueria">
    <p class="name-taqueria">Taqueria</p>
    <h4 class="phone-taqueria">919 402 0209</h2>
    <p>2700 Chapel Hill Rd, Durham, NC 27707</p>
  </div>


  <section class="taqueria-part1">


    <table class="fotos-taqueria" >
      <tr>
        <td></td>
        <td rowspan="2" >
           <img src="/img/mex 350x500.jpg"/>
        </td>
      </tr>
      <tr>
        <td class="foto-text" colspan="2">Arroz</td>
      </tr>
    </table>

    <div class="taqueria-menu1">
      <h3>Enchiladas Poblanas $6.49</h3>
      <p>
        Two Chicken or Cheese rolled corn Tortillas, rich mole poblano, onion, cheese, cream, rice and beans.
      </p>

      <h3>Enchiladas Rancheras $6.49</h3>
      <p>
        Two chicken or cheese rolled corn tortillas especial red salsa, cheese, cream, rice and beans.
      </p>

      <h3>Taco Salad $5.25</h3>
      <p>
        Crispy flour tortilla, topped with beans ant lettuce, tomatoes, cheese guacamole and sour cream.
      </p>

      <h3>EnchiladasVerdes $6.49</h3>
      <p>
        Two Chicken or Cheese rolled in corn Tortillas with green salsa, lettuce, tomatoes, onion, cheese sour cream, rice and beans.
      </p>

      <h3>Alambre Steak or Chicken $7.00</h3>
      <p>
        Grilled steak or chicken salted with onion, bell pepper, bacon and cheese.
      </p>

      <h3>Empanadas $7.49</h3>
      <p>
        Two half moon of masa, chicken or cheese, lettuce, Tomatoes, onion, cheese, Cream Rice and Beans.
      </p>
      <h3>Enchiladas de Espinaca $6.49</h3>
      <p>
        Two rolled corn tortillas, fresh spinach salted with onions, and cream cheese, rice and beans
      </p>

      <h3>Burrito Hawaiano $6.49</h3>
      <p>
        Flour tortilla filled with fried beans, rice, ham, pineapple, lettuce, onion, tomatoes cheese and sour cream.
      </p>

    </div>


  </section>





  <section class="taqueria-part2">

    <div class="taqueria-menu2">
      <h3>Enchiladas Poblanas $6.49</h3>
      <p>
        Two Chicken or Cheese rolled corn Tortillas, rich mole poblano, onion, cheese, cream, rice and beans.
      </p>

      <h3>Enchiladas Rancheras $6.49</h3>
      <p>
        Two chicken or cheese rolled corn tortillas especial red salsa, cheese, cream, rice and beans.
      </p>

      <h3>Taco Salad $5.25</h3>
      <p>
        Crispy flour tortilla, topped with beans ant lettuce, tomatoes, cheese guacamole and sour cream.
      </p>

      <h3>EnchiladasVerdes $6.49</h3>
      <p>
        Two Chicken or Cheese rolled in corn Tortillas with green salsa, lettuce, tomatoes, onion, cheese sour cream, rice and beans.
      </p>

      <h3>Alambre Steak or Chicken $7.00</h3>
      <p>
        Grilled steak or chicken salted with onion, bell pepper, bacon and cheese.
      </p>

      <h3>Empanadas $7.49</h3>
      <p>
        Two half moon of masa, chicken or cheese, lettuce, Tomatoes, onion, cheese, Cream Rice and Beans.
      </p>
      <h3>Enchiladas de Espinaca $6.49</h3>
      <p>
        Two rolled corn tortillas, fresh spinach salted with onions, and cream cheese, rice and beans
      </p>

      <h3>Burrito Hawaiano $6.49</h3>
      <p>
        Flour tortilla filled with fried beans, rice, ham, pineapple, lettuce, onion, tomatoes cheese and sour cream.
      </p>

    </div>




    <table class="fotos-taqueria-2" >
      <tr>
        <td></td>
        <td rowspan="2" >
           <img src="/img/mex2 350x500.jpg"/>
        </td>
      </tr>
      <tr>
        <td class="foto-text" colspan="2">Guacamole</td>
      </tr>
    </table>


  </section>


  <section class="taqueria-part3">

    <table class="fotos-taqueria" >
      <tr>
        <td></td>
        <td rowspan="2" >
           <img src="/img/mex3 350x500.jpg"/>
        </td>
      </tr>
      <tr>
        <td class="foto-text" colspan="2">Pinchos</td>
      </tr>
    </table>

    <div class="taqueria-menu1">
      <h3>Enchiladas Poblanas $6.49</h3>
      <p>
        Two Chicken or Cheese rolled corn Tortillas, rich mole poblano, onion, cheese, cream, rice and beans.
      </p>

      <h3>Enchiladas Rancheras $6.49</h3>
      <p>
        Two chicken or cheese rolled corn tortillas especial red salsa, cheese, cream, rice and beans.
      </p>

      <h3>Taco Salad $5.25</h3>
      <p>
        Crispy flour tortilla, topped with beans ant lettuce, tomatoes, cheese guacamole and sour cream.
      </p>

      <h3>EnchiladasVerdes $6.49</h3>
      <p>
        Two Chicken or Cheese rolled in corn Tortillas with green salsa, lettuce, tomatoes, onion, cheese sour cream, rice and beans.
      </p>

      <h3>Alambre Steak or Chicken $7.00</h3>
      <p>
        Grilled steak or chicken salted with onion, bell pepper, bacon and cheese.
      </p>

      <h3>Empanadas $7.49</h3>
      <p>
        Two half moon of masa, chicken or cheese, lettuce, Tomatoes, onion, cheese, Cream Rice and Beans.
      </p>
      <h3>Enchiladas de Espinaca $6.49</h3>
      <p>
        Two rolled corn tortillas, fresh spinach salted with onions, and cream cheese, rice and beans
      </p>

      <h3>Burrito Hawaiano $6.49</h3>
      <p>
        Flour tortilla filled with fried beans, rice, ham, pineapple, lettuce, onion, tomatoes cheese and sour cream.
      </p>

    </div>





  </section>

    <div class="address-taqueria">
      <p class="name-taqueria">Taqueria</p>
      <h4 class="phone-taqueria">919 402 0209</h2>
      <p>2700 Chapel Hill Rd, Durham, NC 27707</p>
    </div>



</section>
