
<section class="container-menurest">


    <section class="fotos-menu-rest">
      <div class="inside-fotorest1">
        <div class="contenth3"><h3>Enchilada</h3></div>
        <img src="/img/enchilada.jpg" class="f1 fotos-rest"/>
      </div>
      <div class="inside-fotorest2">
        <div class="contenth3"><h3>Quesadillas</h3></div>
        <img src="/img/quesadillas 3.jpg" class="f2 fotos-rest"/>
      </div>
      <div class="inside-fotorest3">
        <div class="contenth3"><h3>Quesadillas</h3></div>
        <img src="/img/Quesadillas 2.jpg" class="f3 fotos-rest"/>
      </div>
      <div class="inside-fotorest4">
        <div class="contenth3"><h3>Tamales</h3></div>
        <img src="/img/tamales.jpg" class="f4 fotos-rest"/>
      <div/>
    </section>

    <section class="menu-restaurant">



    <p class="restaurant-show">
      menu restaurant
    </p>
    </section>

</section>
