
<section class="container-menurest">


    <section class="fotos-menu-rest">
      <div class="inside-fotorest">

        <img src="/img/enchilada.jpg" class="f1 fotos-rest"/><div class="">
          <h3>Enchilada</h3>
        </div>

      </div>
      <div class="inside-fotorest">
      <img src="/img/quesadillas 3.jpg" class="f2 fotos-rest"/><div><h3>Quesadillas</h3></div>
      </div>
      <div class="inside-fotorest">
      <img src="/img/Quesadillas 2.jpg" class="f3 fotos-rest"/><div><h3>Quesadillas</h3></div>
      </div>
      <div class="inside-fotorest">
      <img src="/img/tamales.jpg" class="f4 fotos-rest"/><div><h3>Tamales</h3></div>
      <div/>
    </section>

    <p class="restaurant-show">
      menu restaurant
    </p>


</section>
