<section class="container-taqueria">
  <div class="phone-number-taqueria">
    <i class="fa fa-phone-square" aria-hidden="true"></i>
    <h4>919 402 0209</h4>
  </div>

  <div class="address-taqueria">
    <p class="name-taqueria">Taqueria</p>
    <h4 class="phone-taqueria">919 402 0209</h2>
    <p>2700 Chapel Hill Rd, Durham, NC 27707</p>
  </div>



    <table class="fotos-taqueria" >
      <tr>
        <td></td>
        <td rowspan="2" >
           <img src="/img/enchilada.jpg"/>
        </td>
      </tr>
      <tr>
        <td class="foto-text" colspan="2">Enchilada</td>
      </tr>
    </table>








    <p class="menu-taqueria">
      menu taqueria
    </p>
    <div class="address-taqueria">
      <p class="name-taqueria">Taqueria</p>
      <h4 class="phone-taqueria">919 402 0209</h2>
      <p>2700 Chapel Hill Rd, Durham, NC 27707</p>
    </div>


    <table class="fotos-taqueria-2" >
      <tr>
        <td></td>
        <td rowspan="2" >
           <img src="/img/enchilada.jpg"/>
        </td>
      </tr>
      <tr>
        <td class="foto-text" colspan="2">Enchilada</td>
      </tr>
    </table>

    <div class="address-taqueria">
      <p class="name-taqueria">Taqueria</p>
      <h4 class="phone-taqueria">919 402 0209</h2>
      <p>2700 Chapel Hill Rd, Durham, NC 27707</p>
    </div>



</section>
