<section class="container-specials">






      <div class="fotospecials1">
        <div class="shadow-specials"></div>
        <h3>Avocado Salad $8</h3>

        <img src="/img/specials500-1.jpg" class="special"/>
      </div>
      <div class="fotospecials2">
        <div class="shadow-specials"></div>

        <h3>Chicken and Avocado Salad $10 </h3>
        <img src="/img/specials500-2.jpg" class="special"/>
      </div>



      <div class="fotospecials3">
        <div class="shadow-specials"></div>
        <h3>Beet, Carrot and Shrimp Soup $10</h3>
        <img src="/img/specials500-3.jpg" class="special"/>
      </div>
      <div class="fotospecials4">
        <div class="shadow-specials"></div>
        <h3>Grilled Fish on Tomatoe bed $15</h3>
        <img src="/img/specials500-4.jpg" class="special"/>
      </div>


      <div class="fotospecials5">
        <div class="shadow-specials"></div>
        <h3>Crab Salad on Avocado Shell $13</h3>
        <img src="/img/specials500-5.jpg" class="special"/>
      </div>
      <div class="fotospecials6">
        <div class="shadow-specials"></div>
        <h3>Cod Fish with Green Salsa $15</h3>
        <img src="/img/specials500-6.jpg" class="special"/>
      </div>
      <div class="fotospecials7">
        <div class="shadow-specials"></div>
        <h3>Empanadas $10</h3>
        <img src="/img/specials500-7.jpg" class="special"/>
      </div>
      <div class="fotospecials8">
        <div class="shadow-specials"></div>
        <h3>Chicken Ball Cakes $12</h3>
        <img src="/img/specials500-8.jpg" class="special"/>
      </div>
      <div class="fotospecials9">
        <div class="shadow-specials"></div>
        <h3>Churros con Chocolate $8</h3>
        <img src="/img/specials500-9.jpg" class="special"/>
      </div>




</section>
